<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue 示例</title>
</head>
<body>
<div id="app">
  <input type="radio" v-model="picked" :value="value">
  <label>单选按钮</label>
  <p>{{picked}}</p>
  <p>{{value}}</p>
  <input
    type="checkbox"
    v-model="toggle"
    :true-value="value1"
    :false-value="value2">
  <label>复选框</label>
  <p>{{toggle}}</p>
  <p>{{value1}}</p>
  <p>{{value2}}</p>
  <select v-model="selected">
    <option :value="{number: 123}">123</option>
  </select>
  {{selected.number}}
  <br>
  <input type="text" v-model.lazy="message">
  <p>{{message}}</p>
  <input type="number" v-model.number="number_message">
  <p>{{typeof number_message}}</p>
  <input type="text" v-model.trim="trim_message">
  <p>{{trim_message}}</p>
</div>
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      picked: false,
      value: 123,
      toggle: false,
      value1: 'a',
      value2: 'b',
      selected: '',
      message: '',
      number_message: 123,
      trim_message: ''
    }
  });
</script>
</body>
</html>
